/* VARS */
:root {
    --dark-green: rgb(16, 94, 98);
    --sea-green: #4acaa8;
    --light-blue: rgb(107, 197, 210);
    --dark-blue: rgb(51, 63, 80);
    --red: rgb(181, 82, 92);
    --grey: rgb(236, 244, 243);
    --yellow: rgb(255, 216, 110);
    --black: #231E23;
    --body-font: 'Karla', sans-serif;
    --name-font: 'Permanent Marker', cursive;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--grey);
}

.grid-container {
    display: grid;
}

#main-grid {
    grid-template-columns: 50px auto;
    grid-template-rows: 100vh 0;
}

#main-grid.expanded {
    grid-template-columns: minmax(17%, 225px) auto;
}

/* SIDEBAR */
.sidebar {
    background-color: var(--dark-green);
    border-right: 4px solid var(--red);
    grid-area: 1 / 1 / 2 / 2;
    text-align: center;
    
    transform: translateX(-4%);
    transition: all 0.5s ease-in-out;
}

.sidebar.expanded {
    transform: translateX(0);
}

.nav-button {
    background: none;
    border: none;
    padding: 0;
    color: #ffffff;
    font-size: 32px;

    display: block;
    padding-top: 0.5rem;
    padding-left: 0.5rem;
    padding-bottom: 40%;
    text-align: left;
}

.nav-button i:hover {
    opacity: 0.7;
    cursor: pointer;
}

.sidebar > img {
    width: 175px;
    border: solid 5px var(--red);
    border-radius: 100%;

    display: none;
}

.sidebar > img.expanded {
    opacity: 100;
    display: block;
    margin: auto;
}

.sidebar > h1 {
    font-family: var(--name-font);
    color: #ffffff;
    margin: 5px;

    display:none;
}

.sidebar > h1.expanded {
    display: block;
}

.points {
    width: 90%;
    text-align: left;
    font-family: var(--body-font);
    color: var(--sea-green);
    font-size: 1.2rem;

    display: none;
}

.points p {
    margin: 2.2rem 0;
}

.points.expanded {
    display: block;
    margin: 0 auto;
}

/* HEADER */
.header {
    grid-area: 1 / 2 / span 1 / span 1;
    grid-template-rows: minmax(0, 4fr) minmax(0, 6fr);
}

.header > div.message {
    height: 100%;
    width: 100%;
    text-align: center;
    letter-spacing: 3px;
}

.header img {
    width: 125px;
    padding-top: 2rem;
}

.header > p {
    letter-spacing: 0.5px;
}

.header i {
    color: var(--dark-blue);
    font-size: 35px;
}

.header i:hover {
    color: var(--sea-green);
}

hr {
    border-style: none;
    border-top: dotted;
    border-width: 0.4rem;
    border-color: var(--red);
    width: 40%;
}

@media (max-width: 1900px) {
    .sidebar > h1 {
        font-size: 1.75rem;
    }
}

@media (max-width: 1650px) {
    .sidebar > h1 {
        font-size: 1.5rem;
    }

    .points p {
        font-size: 1rem;
        margin: 1.2rem;
    }
}


@media (max-width: 1425px) {
    .sidebar > h1 {
        font-size: 1.25rem;
    }
}

@media (max-width: 1130px) {
    .points p {
        font-size: 15px;
        margin: 0.5rem;
    }
}


@media (max-width: 600px) {
    .sidebar > img {
        width: 100px;
    }

    .sidebar > h1 {
        font-size: 0.85rem;
    }

    .points p {
        font-size: 0.7rem;
        margin: 1.2rem;
    }
}